.header {
    background-color:red;	    
    text-align: center;	   
    font-size: 30px;
    color:white;
    font-weight: bold;
}

.card {
    padding: 5px;
    display: block;
    margin: 5px;
    text-align: center;
}

.manager-title {
    background-color: purple;
    color: white;
}

.employee-title {
    background-color: blue;
}